body {
    background-color: lightgrey;
    overflow-y: scroll;
}

#nowrap {
flex-wrap: nowrap;
}

.screen {
    width: auto;
    overflow-x: scroll;
}

.task {
    background-color: ivory;
    border: 1px solid black;
    height: 75px;
}

.task-box {
    background-color: rgba(19, 170, 27, 0.301);
    border: 1px solid black;
    height: fit-content;

}

.main-shelf {
    max-height: 50px;
    min-height: 25px;
    background-color: brown;
    border: 2px solid black;
    top: 90%;
}

.shelf {
    max-height: 50px;
    min-height: 25px;
    background-color: brown;
    border: 1px solid ivory;
    top: 90%;
}